server {
    listen ${NGINX_PORT};
    server_name localhost;

    client_max_body_size 100m;

    location ~ \/(.+\/.+)\.git\/(.*) {
        proxy_pass http://kgit:8081/git/$1/$2$is_args$args;
    }

    location /api/ {
        proxy_pass http://app:8080/;
    }

    root /etc/nginx/frontend;

    location / {
        try_files $uri /index.html;
    }
}
